Bot/run/*
Bot/build/*
Bot/.idea/*
Bot/.gradle/*
Bot/gradle/*
Bot/resources/*
Bot/src/main/resources/config.yml
Bot/src/main/java/me/regexmc/jdaregexbot/run/*
Bot/gradle.properties
Bot/gradlew
Bot/gradlew.bat
Bot/run.zip
Bot/src.zip
Bot/settings.gradle
Bot/RegexBot.jar
*.bat