---
---

@import "{{ site.theme }}";
table {
  border-collapse: collapse;
  width: 100%;
}

#main_content_wrap {
    background-color: #343434;
}

table tr:nth-child(even){background-color: #4f4f4f;}

table tr:hover {background-color: #878787;}

table td {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  text-align: left;
  color: white;
}

table th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  text-align: left;
  color: white;
}
